<div class="projects-section">
  <div class="project-card">
    <h3>Integrated Finance Management System</h3>
    <p>
      Built backend microservices with Spring Boot and Kafka, integrated SOAP APIs with REST interfaces, managed
      Liquibase migrations, and led automation.
    </p>
  </div>
  <div class="project-card">
    <h3>Berry Box Mobile App</h3>
    <p>
      OMS with real-time tracking using Spring Boot & React Native. Integrated vendor APIs and managed app state with
      Redux.
    </p>
  </div>
  <div class="project-card">
    <h3>eProcure</h3>
    <p>
      Created e-signing with DocuSign APIs, built a Lead Management System, upgraded Java versions, and introduced
      multitenancy.
    </p>
  </div>
  <div class="project-card">
    <h3>Bus Management System</h3>
    <p>
      Full-stack intern project using Angular, Spring Boot, and MySQL. Gained hands-on experience with Postman,
      Swagger, JMeter.
    </p>
  </div>
</div>
