<section class="skills-section"><h2>Skills</h2>
  <ul>
    <li><strong>Languages:</strong> Java, TypeScript, SQL</li>
    <li><strong>Frameworks:</strong> Spring Boot, Hibernate, JPA, Angular</li>
    <li><strong>DB:</strong> MySQL, MS SQL Server, PostgreSQL</li>
    <li><strong>Mobile:</strong> React Native</li>
    <li><strong>Cloud:</strong> AWS (Lambda, AppSync, S3...)</li>
    <li><strong>CI/CD:</strong> Jenkins, Docker, Nexus, Maven, Gradle</li>
    <li><strong>Messaging:</strong> Apache Kafka</li>
    <li><strong>Tools:</strong> Git, IntelliJ IDEA, Form IO, DocuSign</li>
  </ul>
</section>
